body {
  background-image: url('https://purepng.com/public/uploads/large/purepng.com-studentsstudentcollege-studentschool-studentstudentsmale-female-1421526923983ebral.png');
  background-size: cover;
  background-repeat: no-repeat; 
  opacity: 0.9; 
  

}

.checkbox {
  font-size: 18px; 
  color: white; 
  background-color: #007bff; 
  padding: 10px 20px; 
  border: none;
  border-radius: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.checkbox:hover {
  background-color: #0056b3; 
}
